<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{name}} - Tile Server</title>
  <link rel="stylesheet" type="text/css" href="{{base_url}}/maplibre-gl.css" />
  <link rel="stylesheet" type="text/css" href="{{base_url}}/maplibre-gl-inspect.css" />
  <script src="{{base_url}}/maplibre-gl.js"></script>
  <script src="{{base_url}}/maplibre-gl-inspect.js"></script>
</head>

<body style="margin:0;padding:0;font-family:Arial,Helvetica,sans-serif;">
  <h1 style="position:absolute;top:5px;right:0;width:240px;margin:0;font-size:18px;">Layer list</h1>
  <div id="map" style="position:absolute;top:0;left:0;right:250px;bottom:0;"></div>
  <div id="layerList" style="position:absolute;top:35px;right:0;bottom:0;width:240px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"></div>

  <script>
    const baseURL = "{{base_url}}";
    const id = "{{id}}";

    fetch(`${baseURL}/geojsons/${id}.json`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json"
        },
      })
      .then((response) => {
        if (response.status === 200) {
          return response.json();
        } else {
          alert(`Failed to fetch GeoJSON info: Status code: ${response.status} - ${response.statusText}`);
        }
      })
      .then((jsonResponse) => {
        const style = {
          "version": 8,
          "sources": {},
          "layers": [
            {
              "id": "background",
              "type": "background",
              "paint": {
                "background-color": "#FFF"
              },
              "layout": {
                "visibility": "visible"
              }
            }
          ]
        };
        
        const geoJSONSourceColors = {};

        for (const geoJSONSource in jsonResponse.geojsons) {
          style.sources[geoJSONSource] = {
            "type": "geojson",
            "data": jsonResponse.geojsons[geoJSONSource]
          };

          const r = Math.floor(Math.random() * 256);
          const g = Math.floor(Math.random() * 256);
          const b = Math.floor(Math.random() * 256);

          geoJSONSourceColors[geoJSONSource] = {
            polygon: `rgba(${r}, ${g}, ${b}, 0.3)`,
            line: `rgba(${r}, ${g}, ${b}, 0.6)`,
            circle: `rgba(${r}, ${g}, ${b}, 0.8)`
          };

          style.layers.push(
            {
              "id": `${geoJSONSource}_polygon`,
              "source": geoJSONSource,
              "type": "fill",
              "paint": {
                "fill-color": geoJSONSourceColors[geoJSONSource].polygon,
                "fill-antialias": true,
                "fill-outline-color": geoJSONSourceColors[geoJSONSource].polygon
              },
              "layout": {
                "visibility": "visible"
              },
              "filter": ["==", "$type", "Polygon"]
            },
            {
              "id": `${geoJSONSource}_line`,
              "source": geoJSONSource,
              "type": "line",
              "paint": {
                "line-color": geoJSONSourceColors[geoJSONSource].line
              },
              "layout": {
                "line-join": "round",
                "line-cap": "round",
                "visibility": "visible"
              },
              "filter": ["==", "$type", "LineString"]
            },
            {
              "id": `${geoJSONSource}_circle`,
              "source": geoJSONSource,
              "type": "circle",
              "paint": {
                "circle-color": geoJSONSourceColors[geoJSONSource].circle,
                "circle-radius": 2
              },
              "layout": {
                "visibility": "visible"
              },
              "filter": ["==", "$type", "Point"]
            }
          );
        }

        const map = new maplibregl.Map({
          container: "map",
          hash: true,
          style: style
        });

        map.addControl(new maplibregl.NavigationControl({
          visualizePitch: true
        }));

        map.addControl(new MaplibreInspect({
          showInspectMap: true,
          showInspectButton: false,
          useInspectStyle: false
        }));

        map.on("load", () => {
          const layerList = document.getElementById("layerList");

          for (const geoJSONSource in geoJSONSourceColors) {
            for (const layer in geoJSONSourceColors[geoJSONSource]) {
              const item = document.createElement("div");

              item.innerHTML = `
                <div style="display:flex;align-items:center;cursor:pointer;">
                  <div style="width:15px;height:15px;display:inline-block;background:${geoJSONSourceColors[geoJSONSource][layer]};"></div>
                  <span style="margin-left:5px;color:${geoJSONSourceColors[geoJSONSource][layer]};">${geoJSONSource}_${layer}</span>
                </div>
              `;

              item.onclick = () => {
                const newVisibility = map.getLayoutProperty(`${geoJSONSource}_${layer}`, "visibility") === "none" ? "visible" : "none";

                map.setLayoutProperty(`${geoJSONSource}_${layer}`, "visibility", newVisibility);

                item.style.textDecoration = newVisibility === "visible" ? "none" : "line-through";
              };

              layerList.appendChild(item);
            }
          }
        });

        let currentMarker;

        map.on("click", (event) => {
          if (currentMarker) {
            currentMarker.remove();
          }

          currentMarker = new maplibregl.Marker()
            .setLngLat([event.lngLat.lng, event.lngLat.lat])
            .addTo(map);

          alert(`Position: [${event.lngLat.lng}, ${event.lngLat.lat}]`);
        });
      })
      .catch((error) => {
        alert(`Failed to fetch GeoJSON info: Status code: ${error.message}`);
      });
  </script>
</body>

</html>