<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Preview - Tile Server</title>
  <link rel="stylesheet" type="text/css" href="/index.css{{&key_query}}" />
  <script>
    function toggle_xyz(id) {
      var el = document.getElementById(id);
      var s = el.style;
      s.display = s.display === 'none' ? 'inline-block' : 'none';
      el.setSelectionRange(0, el.value.length);
      return false;
    }
  </script>
</head>
<body>
  <section>
    <h1 class="title">
      Style and Tileset preview
    </h1>
    {{#if styles}}
      <h2 class="box-header">
        Styles
      </h2>
      <div class="box">
      {{#each styles}}
        <div class="item">
          {{#if thumbnail}}
            <img src="/styles/{{@key}}/{{thumbnail}}{{&../key_query}}" alt="{{name}} preview" />
          {{else}}
            <img src="/images/placeholder.png{{&key_query}}" alt="{{name}} preview" />
          {{/if}}
          <div class="details">
            <h3>{{name}}</h3>
            <p class="identifier">identifier: {{@key}}</p>
            <p class="services">
              services: <a href="/styles/{{@key}}/style.json{{&../key_query}}">GL Style</a> | <a href="/styles/256/{{@key}}.json{{&../key_query}}">TileJSON</a> | <a href="/styles/{{@key}}/wmts.xml{{&../key_query}}">WMTS</a>
              {{#if xyz_link}}
                | <a href="#" onclick="return toggle_xyz('xyz_style_{{@key}}');">XYZ</a>
                  <input id="xyz_style_{{@key}}" type="text" value="{{&xyz_link}}" style="display:none;" />
              {{/if}}
            </p>
          </div>
          <div class="viewers">
              <a class="btn" href="/styles/{{@key}}/{{&../key_query}}{{viewer_hash}}">Viewer</a>
              <a class="btn" href="/styles/{{@key}}/?{{&../key_query_part}}raster{{viewer_hash}}">Raster</a>
              <a class="btn" href="/styles/{{@key}}/?{{&../key_query_part}}vector{{viewer_hash}}">Vector</a>
          </div>
        </div>
      {{/each}}
      </div>
    {{/if}}
    {{#if data}}
      <h2 class="box-header">
        Data
      </h2>
      <div class="box">
      {{#each data}}
        <div class="item">
          {{#if thumbnail}}
            <img src="/data/{{@key}}/{{thumbnail}}{{&../key_query}}" alt="{{name}} preview" />
          {{else}}
            <img src="/images/placeholder.png{{&key_query}}" alt="{{name}} preview" />
          {{/if}}
          <div class="details">
            <h3>
              {{name}}
            </h3>
            <div class="identifier">
              identifier: {{@key}}
            </div>
            <div class="identifier">
              size: {{#if formatted_filesize}}{{formatted_filesize}}{{else}}unknown{{/if}}
            </div>
            <div class="identifier">
              type: {{#if is_vector}}vector{{else}}raster{{/if}} {{#if source_type}} | ext: {{source_type}}{{/if}}
            </div>
            <p class="services">
              services: <a href="/data/{{@key}}.json{{&../key_query}}">TileJSON</a>
              {{#if xyz_link}}
                | <a href="#" onclick="return toggle_xyz('xyz_data_{{@key}}');">XYZ</a>
                  <input id="xyz_data_{{@key}}" type="text" value="{{&xyz_link}}" style="display:none;" />
              {{/if}}
            </p>
          </div>
          <div class="viewers">
            {{#if is_vector}}
                <a class="btn" href="/data/{{@key}}/{{&../key_query}}{{viewer_hash}}">Inspect</a>
            {{else}}
                <a class="btn" href="/data/{{@key}}/{{&../key_query}}{{viewer_hash}}">View</a>
            {{/if}}
          </div>
        </div>
      {{/each}}
      </div>
    {{/if}}
  </section>
</body>
</html>
